<template>
  <nav>
    <div>Willkommen bei Nuxt</div>
    <NuxtLink to="greetings">Greetings</NuxtLink>
    <NuxtLink to="turtle">Turtle</NuxtLink>
    <NuxtLink to="toggle">Schalter</NuxtLink>
    <NuxtLink to="counter">Zähler</NuxtLink>
  </nav>
</template>

<style lang="scss" scoped>
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: #ddd;
  z-index: 50;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav div {
  padding: 1rem;
}

a {
  text-decoration: none;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 10px;

  &:hover {
    transition: all 0.2s;
    background-color: #fff;
  }
}
</style>

<script>
export default {
  
}
</script>
