$color-white: #fff;
$color-font: #6a6a6a;
$color-light-gray: #f5f5f5;
$color-primary: #4455ff;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arvo", sans-serif !important;
  background-color: $color-light-gray;
  color: $color-font;
  font-size: 1.2rem;

  ::selection {
		background: $color-primary;
		color: $color-white;
	}
}

html,
body, 
#__nuxt, 
#__layout {
  height: 100% !important;
  width: 100% !important;
}
