<template>
  <div class="main">
    <Navigation />
    <div class="content">
      <Nuxt />
    </div>
  </div>
</template>

<style lang="scss" scoped>
div.main {
  padding-top: 4rem;
  width: 100%;
  height: calc(100% - 4rem);
}

div.content {
  padding: 1rem;
}
</style>
