<template>
  <div>
    <div v-if="toggle">Der Schalter ist an</div>
    <div v-else>Der Schalter ist aus</div>
    <button v-on:click="toggle = !toggle">Umschalten</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      toggle: false,
    }
  },
}
</script>
